<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Recipe Book</a>

      <ul class="navbar-nav">
      
        <li class="nav-item" >
          <a class="nav-link" routerLink="/recipes">Recipes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
        <li class="nav-item">
          <div ngbDropdown>
            <button class="btn btn btn-light nav-link" id="dropdownConfig" ngbDropdownToggle>Manage</button>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
              <button style="cursor:pointer;" class="dropdown-item">Save data</button>
              <button style="cursor:pointer;" class="dropdown-item">Fetch data</button>
            </div>
          </div>
         </li>
        
      </ul>
  </nav>
  <p></p>
  